@media screen {
	:root {
		--formula-font-size: 118%;
	}
}
@media print {
	:root {
		--formula-font-size: 105%;
	}
}

/* Mathematical Formulas */
article div.formula {
	white-space: nowrap;
	font-family: "Palatino Linotype", Palatino, Garamond, serif;
	font-size: var(--formula-font-size);
	page-break-inside: avoid !important;
}

article div.inline.formula {
	display: inline-block;
	margin: 0 0.5em;
	vertical-align: baseline;
}

article div.block.formula {
	margin: 1em 0;
	vertical-align: middle;
	text-align: center;
}

article div.group {
	display: table;
	margin: 0 auto;
}
article div.group > div.formula {
	margin: 1em 0;
	vertical-align: middle;
}

article div.formula div {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

article div.formula .baseline {
	vertical-align: baseline;
}

article div.formula sup,
article div.formula sub {
	margin-left: 0.12em;
}

article div.formula sup.two {
	position: relative;
	top: -0.4em;
	left: -0.2em;
}

article div.formula div.supsub {
	font-size: smaller;
	margin-left: 0.12em;
	line-height: 0.8;
	vertical-align: -0.35em;
	text-align: left;
}

article div.formula span.abs::before,
article div.formula span.abs::after {
	font-size: 140%;
	font-weight: 100;
	vertical-align: middle;
	content: "\7c";
}

article div.formula .paren::before {
	display: inline-block;  /* Required so that transform will work */
	padding-left: 0.1em;
	content: "\28";
	font-weight: 100;
	transform: scale(1.2, 1.2);
}

article div.formula .paren::after {
	display: inline-block;  /* Required so that transform will work */
	padding-left: 0.1em;
	content: "\29";
	font-weight: 100;
	transform: scale(1.2, 1.2);
}

article div.formula .paren.onePlus::before {
	padding-left: 0.2em;
	padding-right: 0.1em;
	transform: scale(1.5, 1.8);
}
article div.formula .paren.onePlus::after {
	padding-left: 0.1em;
	padding-right: 0.2em;
	transform: scale(1.5, 1.8);
}

article div.formula .paren.two::before {
	padding-left: 0.2em;
	padding-right: 0.1em;
	transform: scale(1.5, 2);
}
article div.formula .paren.two::after {
	padding-left: 0.1em;
	padding-right: 0.2em;
	transform: scale(1.5, 2);
}

article div.formula div.paren {
	vertical-align: baseline;
}

article div.formula div.radic {
}

article div.formula div.radic.one > div:first-child {
	margin-right: -0.25em;
}

article div.formula div.radic.onePlus > div:first-child {
	transform: scale(1.1, 1.6);
}

article div.formula div.radic.two > div:first-child {
	transform: scale(1.8, 3);
	margin-right: 0.2em;
}

article div.formula div.radic > div:last-child {
	border-top: 1px solid;
	padding: 0 0.2em;
}

article div.formula div.sum > div > span {
	display: block;
}

article div.formula div.sum > div > span.index {
	font-size: smaller;
}

article div.formula div.sum > div > span.one {
	margin: -0.3em 0 -0.2em 0;
	font-size: 110%;
}

article div.formula div.sum > div > span.onePlus {
	margin: -0.3em 0 -0.2em 0;
	font-size: 130%;
}

article div.formula div.sum > div > span.two {
	margin: 0.3em 0 1em 0;
	transform: scale(2.5, 3.2);
}

article div.formula div.sum > div:last-child {
	vertical-align: -1.2em;
}

article div.formula div.fract {
}

article div.formula div.fract > div:first-child {
	display: block;
	padding-bottom: 0.1em;
}

article div.formula div.fract > div:last-child {
	display: block;
	border-top: 1px solid;
}


article span.units {
	color: var(--byui-blue);
}
