@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');

@media print {
	:root {
		--bk-color: white;
		--fg-color: black;

		--heading-fg-color: black;
		--bullet-fg-color: darkgray;

		--dfn-fg-color: black;
		--strong-fg-color: black;
		--user-input-bk-color: white;
		--user-input-fg-color: darkgray;

		--python-bk-color: white;
		--console-bk-color: white;

		--link-before-fg-color: var(--byui-blue);
		--link-hover-fg-color: var(--byui-blue);
		--link-active-fg-color: var(--byui-blue);
		--link-visited-fg-color: var(--byui-blue);

		--body-font-size: 110%;
		--formula-font-size: 105%;

		--article-padding-side: 0;
		--article-line-height: 1.15;
	}

	body {
		font-family: "Crimson Pro", Georgia, "Times New Roman", serif;
		max-width: 6.5in;
	}

	header { display: none; }
	nav.menu { display: none; }

	section {
		page-break-before: always !important;
		widows: 2;
		orphans: 2;
	}

	article h2 > span.copy,
	article h3 > span.copy,
	article h4 > span.copy {
		display: none;
	}
	article div.video {
		display: none;
	}

	/* As of November 2021, Chrome doesn't honor "page-break-after: avoid".
	 * Changing "-after" to "-inside" plus the following CSS rule is a
	 * work around. */
	article h1::after,
	article h2::after,
	article h3::after,
	article h4::after {
		content: " ";
		display: block;
		height: 1em;
		margin-bottom: -1em;
	}

	article h1,
	article h2,
	article h3,
	article h4 {
		page-break-inside: avoid !important;
	}

	article dfn {
		font-weight: bold;
	}

	article code {
		font-size: 78%;
	}
	article pre {
		font-size: 78%;
		overflow: clip hidden;  /* Clip code that is too wide. */
	}

	article div.example > button.copy {
		display: none;
	}

	footer {
		display: none;
	}
}
