@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

:root {
	--byui-blue: #0076b6;

	--light-bkgrnd: #fefefe;
	--light-color: #040404;

	--dark-bkgrnd: black;
	--dark-color: #b8b8b8;

	--border: #707070;
}

body {
	font-family: "Open Sans", Arial, Helvetica, Verdana, sans-serif;
	background-color: var(--light-bkgrnd);
	color: var(--light-color);
}
body.dark {
	background-color: var(--dark-bkgrnd);
	color: var(--dark-color);
}

header {
	padding: 0.5em 1.5em;
	background-color: var(--byui-blue);
	color: white;
}
header div.logo {
	display: inline-block;
	margin-right: 1em;
	vertical-align: middle;
	font-family: Georgia, Palatino, "Book Antiqua", serif;
	text-transform: uppercase;
	max-width: 5.5em;
}
header div.logo div.upper {
	margin-bottom: -0.05em;
	font-size: 160%;
	font-weight: bolder;
	text-align: center;
}
header div.logo div.lower {
	border-top: 1px solid;
	font-weight: lighter;
	letter-spacing: 0.08em;
	text-align: center;
}
header h2 {
	display: inline-block;
	vertical-align: middle;
	font-size: 150%;
	font-weight: normal;
}
header h2 span {
	white-space: nowrap;
}
header div.colorCtrl {
	float: right;
	cursor: pointer;
	margin: 0.5em 0 0 1em;
	font-size: 125%;
}

/* Content */
article {
	margin: 1em auto;
	max-width: 40em;
	padding: 1em;
	font-size: 110%;
	line-height: 125%;
}

article h1 {
	clear: both;
	text-align: center;
	font-size: 150%;
	line-height: 1.5em;
	margin: 0 0 0.5em 0;
}

article h2 {
	clear: both;
	font-size: 125%;
	font-weight: bold;
	margin: 1.5em 0 0.25em 0;
	padding-bottom: 0.25em;
	border-bottom: 1px solid;
}

article h3 {
	font-weight: bold;
	color: var(--byui-blue);
	margin: 1em 0 0.5em 0;
}

article p {
	margin: 0 0 1em 0;
}

article blockquote {
	margin: 1em 1em 1em 1em;
	border-left: 0.12em solid var(--byui-blue);
	padding: 0 0 0 0.5em;
}

article a:link { color: var(--byui-blue); }
article a:visited { color: purple; }
article a:active { color: red; }

article audio {
	float: right;
}

article em {
	font-style: italic;
}

article strong {
	font-weight: bold;
	font-style: italic;
	color: coral;
}

article dfn {
	color: coral;
}

article var {
	font-style: italic;
}

/* Lists */
article ol {
	margin: 0 0 1em 2em;
	list-style-type: decimal;
}

article ol > li ol > li ol {
	list-style-type: lower-roman;
}

article ol > li ol {
	list-style-type: lower-alpha;
}

article ol.long > li {
	margin-bottom: 1em;
}

article li {
	color: var(--byui-blue);
}

article li > div {
	color: var(--light-color);
	margin-left: 0.25em;
}
body.dark article li > div {
	color: var(--dark-color);
}

article ul {
	margin: 0 0 1em 2em;
	list-style-type: disc;
}

article ul.long > li {
	margin-bottom: 1em;
}

article li ul {
	list-style-type: circle;
}

article ul.links {
	list-style-type: "»";
}

article ul.links > li {
	padding-left: 0.3em;
}

article ul.note {
	list-style-type: "*";
}

article ul.note > li {
	padding-left: 0.4em;
	color: var(--byui-blue);
}

article dl.function {
	margin: 1em 1em 1em 1em;
	border-left: 0.12em solid var(--byui-blue);
	padding: 0 0 0 0.5em;
}

article dl.function dd {
	padding-left: 2em;
}


/* Figures */
div.figure {
	float: right;
	margin: 0 0 1em 1em
	page-break-inside: avoid;
}

div.figure img {
	width: 100%
	page-break-after: avoid;
}

div.figure div {
	margin: 0.75em 0 0 0
	font-size: 90%;
	page-break-before: avoid;
}


/* Mathematical Formulas */
article div.expr {
	white-space: nowrap;
	text-align: center;
	font-family: "Palatino Linotype", Palatino, Garamond, serif;
	font-size: large;
}

article div.expr.inline {
	display: inline-block;
	margin: 0 0.5em;
	vertical-align: baseline;
}

article div.expr.block {
	margin: 1em 0;
	vertical-align: middle;
}

article div.expr div {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

article div.expr.middle {
	vertical-align: middle;
}

article div.expr .baseline {
	vertical-align: baseline;
}

article div.expr sup,
article div.expr sub {
	margin-left: 0.12em;
	font-size: small;
}

article div.expr span.abs:before,
article div.expr span.abs:after {
	font-size: xx-large;
	font-weight: 100;
	vertical-align: middle;
	content: '\7c';
}

article div.expr .paren:before {
	padding-left: 0.1em;
	content: '\28';
}

article div.expr .paren:after {
	padding-left: 0.1em;
	content: '\29';
}

article div.expr div.paren:before,
article div.expr div.paren:after {
	font-size: xx-large;
	font-weight: 100;
}

article div.expr div.paren {
	vertical-align: baseline;
}

article div.expr span.radic:before {
	font-size: x-large;
	font-weight: 100;
	vertical-align: bottom;
	content: '\221a';
}

article div.expr div.radic:before {
	font-size: xx-large;
	font-weight: 100;
	vertical-align: middle;
	content: '\221a';
}

article div.expr .radic > * {
	border-top: 1px solid;
	padding: 0 0.2em;
}

article div.expr div.fract {
}

article div.expr div.fract > div.numer {
	display: block;
}

article div.expr div.fract > div.denom {
	display: block;
	margin-top: 0.25em;
	border-top: 1px solid;
	padding-top: 0.1em;
}

article div.expr div.sum {
	margin-right: 0.15em;
}

article div.expr div.sum > span.sum {
	display: block;
	margin-bottom: 0.25em;
	vertical-align: middle;
	font-size: xx-large;
	font-weight: 100;
}

article div.expr div.sum > div.index {
	display: block;
	font-size: small;
}


/* Sections that can be expanded and collapsed. */
article div.expand div.title,
article div.collaps div.title {
	cursor: pointer;
}

article div.expand div.title:before,
article div.collaps div.title:before {
	margin-right: 0.25em;
	font-size: x-large;
	cursor: pointer;
}

article div.expand div.title:before {
	content: "+";
}

article div.collaps div.title:before {
	content: "-";
}

article div.expand div.pre {
	display: none;
}

article div.collaps div.pre {
	display: block;
}

/* Code Highlighting */
article code {
	font-family: Menlo, Monaco, Consolas, monospace;
	white-space: nowrap;
}


article pre {
	font-family: Menlo, Monaco, Consolas, monospace;
	line-height: 1.1em;
}

article pre em,
article code em {
	font-weight: bold;
	font-style: normal;
}

article pre.console {
	margin: 1em auto;
	border: 1px solid var(--border);
	padding: 0.25em 0.5em;
}

article pre.console span.input {
	position: relative;
	border: 1px solid var(--border);
	padding: 0 0.25em;
	background-color: coral;
	color: white;
}

/* Tooltip for user input spans inside the console pre elements. */
article pre.console span.input:before {
	display: none;
	position: absolute;
	top: 70%;
	left: -5em;
	border: 1px solid var(--border);
	background-color: var(--light-bkgrnd);
	color: var(--light-color);
	font-size: small;
	padding: 0.1em 0.3em;
	content: "User input";
}
article pre.console span.input:hover:before {
	display: block;
	z-index: 50;
}

article pre.console span.pass {
	color: green;
}

article pre.console span.fail {
	color: red;
}

/* Containers for line numbers and Python source code */
article div.pre {
	display: table;
	margin: 1em auto 1em 0;
	border: 1px solid var(--border);
	padding: 0.25em 0.5em;
	position: relative;
}

article div.pre > button.copy {
	position: absolute;
	top: 0.25em;
	right: 0.25em;
	visibility: hidden;
}

article div.pre > button.copy > img {
	width: 2em;
}

article div.pre:hover > button.copy {
	visibility: visible;
}

article div.pre > pre {
	display: table-cell;
	margin: 0;
	border: 0;
	padding: 0;
}

article div.pre > pre.linenums {
	padding-right: 1.5em;
	text-align: right;
	color: var(--border);
}

article div.pre > pre.linenums > .hi {
	background-color: var(--byui-blue);
	color: white;
}

article div.pre > pre.python {
	min-width: 18em;
}

article pre.python span.hiScope  { background-color: yellow; }
article pre.python span.hiVarDef { background-color: orange; }
article pre.python span.hiVarUse { background-color: yellow; }
article pre.python span.hiError  { background-color: red; }

article .cross {
	text-decoration: underline var(--byui-blue) dotted;
}


/* Tables */
article table {
	margin-bottom: 1em;
}

article th,
article td {
	padding: 0.1em 0.25em;
}

article td.center { text-align: center; }
article td.number { text-align: right; }

article table.center {
	margin: 1em auto;
}

article table > thead > tr > th {
	vertical-align: bottom;
	text-align: center;
	font-weight: bold;
}

article table > tbody > tr > th {
	vertical-align: top;
	text-align: left;
	font-weight: bold;
}

article table.list > tbody > tr > td {
	text-align: center;
}

article table.list > tbody > tr.elems > td {
	border: 1px solid var(--border);
}

article table.list > tbody > tr > td.label {
	border: none;
	text-align: right;
}

footer {
	margin: 1em auto;
	max-width: 40em;
	padding: 1em;
	font-size: 90%;
	line-height: 100%;
}
