.hljs-addition,
.hljs-attr,
.hljs-attribute,
.hljs-builtin-name,
.hljs-bullet,
.hljs-class,
.hljs-code,
.hljs-constructor,
.hljs-deletion,
.hljs-doctag,
.hljs-emphasis,
.hljs-formula,
.hljs-link,
.hljs-link_label,
.hljs-meta,
.hljs-meta-keyword,
.hljs-meta-string,
.hljs-module,
.hljs-module-access,
.hljs-name,
.hljs-pattern-match,
.hljs-quote,
.hljs-regexp,
.hljs-section,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-selector-pseudo,
.hljs-selector-tag,
.hljs-strong,
.hljs-stronge,
.hljs-symbol,
.hljs-tag,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-typing,
.hljs-variable { color: red; }


.hljs { }

.hljs-number  { color: light-dark(#098658, #b5cea8 /* green yellow */); }
.hljs-literal { color: light-dark(#0000ff, #569cd6 /* medium blue */); }
.hljs-string  { color: light-dark(#a31515, #ce9178 /* pumpkin */); }
.hljs-subst   { color: light-dark(#040404, #b8b8b8 /* light gray */); }

.hljs-comment { color: light-dark(#008000, #6a9955 /* mint green */); }

.hljs-keyword  { color: light-dark(#af00d8, #c586c0 /* pink */); }
.hljs-built_in { color: light-dark(#267f99, #dcdc8b /* light yellow */); }

.hljs-function { }
.hljs-title    { color: light-dark(#795e26, #dcdc8b /* light yellow */); }
.hljs-params   { color: light-dark(#001080, #9cdcfe /* light blue */); }
